<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Succsefully logged in!</h1>
    <p class="secret-text">Express</p>
    <p class="not-secret-text">Express is an HTTP wrapper around node it helps us send send data. Express also supports middlewares. This helps us authenticate users before they are let on the site </p>
    <p class="secret-text">passport.js</p>
    <p class="not-secret-text">Passport.js is the middleware library for express we use in this website. It will save us a cookie in our browser then to enter our main page passport .js will check the cookie if you are an authenticated user </p>
    <p class="secret-text">bcrypt</p>
    <p class="not-secret-text">Bcrypt is something used for hashing password its purpose is to save passwords safely and we use it to find if a user's password checks out and we scramble the password the same way we scrambled the previous password to see if the results are the same. If a hacker where to find the scrambled password it would be hard to gain the original password other than just stumbling upon the right one. To prevent this, you just need a strong password </p>
    <p class="secret-text">mongoDB</p>
    <p class="not-secret-text">MongoDB. All the passwords are stored on mongo DB because it seemed the easiest to learn and because that is what Angela used so it seemed helpful with my late start. </p>
    
    <hr>
    
    <a class="btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/security" role="button">=> </a>
    
  </div>
</div>

<%- include('partials/footer') %>
